body{
  background-color: rgb(20, 99, 145);
  color: rgb(230, 238, 242);
}

header{
  padding-bottom: 10px;
  background: url('../images/images.jpg');
  background-repeat:repeat;
  color: rgb(11, 17, 97);
  position: relative;
  background-size:contain;
  width: auto;
  height: auto;
}

header h1, header h3{
  margin-left: 40px;
  padding-top: 10px;
}

nav{
  background-color: rgb(14, 160, 86);
  margin-bottom: 15px;
}

ul.nav{
  margin-left: 17%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(47, 169, 107);
    text-decoration: none;
}

#lienzo{
  text-align: center;
}

canvas{
  background: rgb(255, 255, 255);
  padding: 5px;
}

.upload{
  display: inline;
}

.hideMe{
	display: none;
}

.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(14, 160, 86);
  margin: 5%;
  width: 90%;
}

.btn:hover, #colores:hover, #grosor:hover{
  background-color: rgb(47, 169, 107);
  color: rgb(28, 36, 148);
}

#colores, #grosor{
  width: 100%;
  margin-bottom: 2%;
}

#preview{
  padding: 0% 5% 0% 0%;
}

.btn-md{
  width: inherit;
  margin: 0% 0% 5% 0%;
  padding: 0px;
}

img{
  width: inherit;
}
